.roadmap-section-container {
  width: Fixed (1, 440px) px;
  height: Fixed (7, 254px) px;
  top: -4139px;
  left: -420px;
  gap: 0px;
  opacity: 0px;
  background-color: #00161d;
  padding: 12px;
  display: flex;
  flex-direction: column;
}
.roadmap-heading {
  font-family: var(--fontfamilyFont1);
  font-size: 30px;
  font-weight: 500;
  line-height: var(--lineheight44);
  letter-spacing: var(--letterspacing-08);
  text-align: center;
  color: #ffffff;
}

.roadmap-content-container {
  display: flex;
  flex-direction: column;
}
.roadmap-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  background-color: #00161d;
  width: Fixed (1, 200px) px;
  height: Hug (512px) px;
  top: 64px;
  left: 120px;
  padding: 0px 56px 0px 56px;
  gap: 0px;
  opacity: 0px;
  background: linear-gradient(180deg, #00161d 0%, rgba(0, 22, 29, 0) 37.69%),
    linear-gradient(180deg, rgba(0, 22, 29, 0) 81.47%, #00161d 100%),
    linear-gradient(270deg, rgba(0, 22, 29, 0) 82.85%, #00161d 100%);
}
.roadmap-title {
  font-family: var(--fontfamilyFont1);
  font-size: 30px;
  font-weight: 500;
  line-height: var(--lineheight44);
  letter-spacing: var(--letterspacing-08);
  text-align: center;
  color: #ffffff;
}
.roadmap-image {
  width: 40%;
  height: 400px;
}
.road-item {
  font-family: var(--fontfamilyFont1);
  font-size: var(--lineheight20);
  font-weight: 400;
  line-height: var(--lineheight26);
  letter-spacing: var(--letterspacing-01);
  text-align: left;
  color: #efefe8;
  margin-bottom: 15px;
}
.roadmap-item.reverse {
  flex-direction: row-reverse;
}
